@font-face {
  font-family: 'Ubuntu';
  src: url('Ubuntu-Medium.ttf'); 
}
body {
  font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
  background: url("https://yu1547.github.io/webclass/images/street.gif");
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
#login-form {
  background-color: rgba(255, 255, 255, 0.392);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  }
#login-form h2 {
  color: #000000;
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 8px;
  color: #000000;
  text-align: left;
}
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}
button {
  background-color: #d04548;
  color: #fff;
  padding: 14px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d40000; 
}